.container{
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:80%;
}

::ng-deep mat-form-field {
  width: 200px;
  height: 100px;
}
